<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <title><%=title%></title>
  </head>
  <body>
    <section>
      <main>
        <h2><%=header%></h2>
        <form action="<%= action%>" method="POST">
          <p>
            <label for="mopedId">MopedId</label>
            <input type="text" name="mopedId" id="mopedId" size="7" />
          </p>
          <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
      </main>
    </section>
  </body>
</html>
